<% srcs = ["https://media.giphy.com/media/AisOYaOZdrS1i/giphy.gif",
  "https://media.giphy.com/media/720g7C1jz13wI/giphy.gif",
   "https://media.giphy.com/media/12nfFCZA0vyrSw/giphy.gif"]  %>

<h1 class="text-center">Nope!</h1>
<img src="<%= srcs[rand(0..2)] %>" width="480">
