<% srcs = ["https://media.giphy.com/media/PXvCWUnmqVdks/giphy.gif",
  "https://media.giphy.com/media/8l1UFvNSS5SwM/giphy.gif",
   "https://media.giphy.com/media/aApvhJgQYafdK/giphy.gif"]  %>

<h1 class="text-center">Correct!</h1>
<img src="<%= srcs[rand(0..2)] %>" width="480">
