<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="span3 well">
        <h1 class="text-center">About the author</h1>
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://media.giphy.com/media/26CaMO87G6KCQXzyg/giphy.gif" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Nouru Muneza</h3>
      </a>
      <div class="bottom">
                  <a class="btn btn-info btn-twitter btn-sm" href="https://www.linkedin.com/in/nouru-muneza-4b1728129/">
                      <i class="fa fa-linkedin"></i>
                  </a>
                  <a class="btn btn-default btn-sm" rel="publisher"
                     href="https://github.com/a1nouru">
                      <i class="fa fa-github"></i>
                  </a>

              </div>

        <em>click my on face for more</em>
		</center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Nouru</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="https://media.giphy.com/media/26CaMO87G6KCQXzyg/giphy.gif" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading"><small>Computer Science, Bsc</small></h3>
                    <h3 class="media-heading"><small>FootHill College, CA</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">C++</span>
                        <span class="label label-default">java</span>
                        <span class="label label-danger">Ruby</span>
                        <span class="label label-primary">Swift</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Profile: </strong><br>
                        Problem solving, strategy, creativity, good designer and adaptability are some of my strengths that I bring to the table. I am passionate about building products and services that impact people’s lives in a meaningful way.
                        </p>
                    <p class="text-left"><strong>My ideal Company: </strong><br>
                      A workplace with a strong and well-defined culture that encourages entrepreneurial spirit with an aim to develop tools that facilitates innovations and creativity.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">OK</button>
                   </center>
                </div>
            </div>
        </div>
    </div>
</div>
