<% srcs = ["https://media.giphy.com/media/cJx0Q0AklB0Xe/giphy.gif",
  "https://media.giphy.com/media/vdSE5GqDencBi/giphy.gif",
   "https://media.giphy.com/media/12nfFCZA0vyrSw/giphy.gif"]  %>

<legend>Which of the following is the most frequently casted spell in the book of harry potter?</legend>
<h1 class="text-center">Question already attempted!!</h1>
<img src="<%= srcs[rand(0..2)] %>" width="480">
