<%= form_tag('/freestyle/validate') do -%>

  <fieldset class="form-group">
   <legend>Which of the following is the most frequently casted spell in the book of harry potter?</legend>
    <p>You only got one shot at this, Use it carefully!</p>
    <% @options.each do |option| %>
     <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="answer" value="<%= option %>" checked>
       <%= option %>
      </label>
    </div>
    <% end %>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>

<% end -%>
